* {
  font-family: "Verdana", "Arial", "Helvetica", sans-serif;
}

head {
  color: red;
}

.upper_container {
  display: flex;
  justify-content: space-between;
}


body {
  background-image: url('images/pexels-kehn-hermano-3881034.jpg');
  height: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  text-align: center;
  justify-content: center;
}
