* {
  font-family: "Dongle", "Verdana", "Arial", "Helvetica", sans-serif;
}

body {
  background-image: url("images/pexels-felix-mittermeier-4644812.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  border: 3px solid #407c9a;
  color: white;
  position: relative;
}

#container {
  min-height: 100vh;
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.top_nav, .bottom_nav {
  font-size: 30px;
  word-spacing: 30px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Dongle", "Verdana", "Arial", "Helvetica", sans-serif;
}

.top_nav {
  text-align: right;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(173, 105, 90, 0.6));
}

.top_nav a, .bottom_nav a {
  text-decoration: none;
  color: white;
}

.bottom_nav {
  text-align: left;
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(165, 116, 154, 0.6));
}

img {
  border-radius: 50%;
  border: 2px solid #407c9a;
  width: 300px;
  height: auto;
}

.name, .intro {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

.name {
  font-size: 80px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.intro {
  font-size: 30px;
}

#here {
  color: #d0a406;
}

span {
  color: #d0a406;
  display: inline-block;
  animation: bounce;
  animation-duration: 2s;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #d0a406;
}

a:focus {
  text-decoration: none;
  color: #a5749a;
}

a:active {
  text-decoration: none;
  color: #a5749a;
}
