head {
  color: red;
}

body {
  background: slategrey;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer {
  align-items: center;
  justify-content: center;
  text-align: center;
}
